@media (min-width: $screen-lg) {
  .charts-body {
    padding-top: 100px;
    padding-right: 30px;
  }
}

.c3-event-rect {
  cursor: pointer;
}

.chart-line-toolbar {
  margin-bottom: 10px;
  margin-left: 55px;
}

.c3-axis-y-label, .c3-axis-x-label {
  fill-opacity: 0;
}

.c3-chart-current line, .c3-chart-current-full line {
  stroke-width: 2px;
  stroke-fill: red !important;
}

.c3-chart-current-full {
  visibility: hidden;
}

// Hacky hack
.c3-chart-current {
  transform: translate(0, 435px)
}

.c3-axis text {
  fill: #969696;
}

.c3-line {
  stroke-width: 2px;
}

.c3-circle {
  fill-opacity: 0;
}

.c3-circle._expanded_ {
  fill-opacity: 1.0;
}

.c3-axis {
  path, line {
    stroke: #969696;
  }
}

.c3-hide-xgrid .c3-xgrid-line {
  visibility: hidden;
}

.c3:hover {
  .c3-chart-current-full {
    visibility: visible;
  }

  .c3-axis text {
    fill: #333;
  }

  .c3-axis {
    path, line {
      stroke: #333;
    }
  }

  .c3-axis-y-label, .c3-axis-x-label {
    fill-opacity: 1.0;
  }
}