.charts-sidebar {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 30px;

  &:hover {
    // @include elevated-layer();
    // position: relative;
    // box-shadow: 0 0 10px rgba(100,100,100,0.5);

    .bar-count {
      fill-opacity: 1.0;
    }
  }
}

.bar-count {
  font-weight: normal;
  text-transform: lowercase;
  font-size: 12px;
  fill-opacity: 0;
  font-family: Metrophobic, sans-serif;
}

.bar-count {
  font-size: 10px;
}

.bar-group {
  &:hover {
    cursor: pointer;

    .bar-background {
      fill: #eee;
    }
  }
}
