body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  padding-bottom: 200px;
}

.large-loading {
  color: #ccc;
  font-size: 2.0em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  .fa {
    font-size: 3em;
    margin-bottom: 20px;
  }
}

.charts {
  margin-top: 20px;
}

svg {
  width: 100%;
}

.btn-link {
  color: #bbb;
}

.cfp-hotkeys-close {
  border: 0;
}

.nav-header {
  margin-bottom: 50px;

  li {
    float: left;

    a {
      color: #777;
      font-size: 1.2em;
      border-bottom: 2px solid transparent;
      padding: 3px 0;
      margin: 10px 15px;
    }
    a:hover, a:focus {
      color: #000;
      background: #fff;
    }
    a:hover {
      border-bottom: 2px solid #000;
      position: relative;
    }
  }
}

.page-header {
  margin-bottom: 50px;
}

.color-label {
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  font-family: monospace;
}