body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.large-loading {
  color: #ccc;
  font-size: 2.0em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  .fa {
    font-size: 3em;
    margin-bottom: 20px;
  }
}