.toolbar {
  .btn-toolbar {
    margin-top: 5px;
  }
}

.fixed-toolbar {
  @include top-layer();
  position: fixed;
  margin-top: 0;
  top: 0;
  background-color: rgba(255,255,255,0.8);
  transition-duration: 0.4s;
}

.not-fixed-toolbar {
  margin-bottom: 5px;
}

.toolbar-event-year {
  font-size: 2.3em;
  font-weight: 700;
  color: #333;
}

.toolbar-event {
  white-space: nowrap;
}

.toolbar-event-text {
  font-size: 1.2em;
  margin-right: 10px;
}

.toolbar {
  .dropdown-menu a {
    cursor: pointer;
    font-size: 16px;
  }
}

.toolbar-wide-button {
  text-transform: capitalize;
  min-width: 110px;
}
