.fixed-toolbar {
  @include top-layer();
  position: fixed;
  margin-top: 0;
  top: 0;
  // background-color: rgba(255,255,255,0.75);
  transition-duration: 0.4s;
}

.not-fixed-toolbar {
  margin-bottom: 5px;
  opacity: 0;
}

.toolbar-event-year {
  font-size: 2.3em;
  font-weight: 700;
  color: #333;
}

.toolbar-event {
  white-space: nowrap;
  display: inline-block;
  background-color: rgba(255,255,255,0.75);
  padding: 0 20px;
  border-radius: 10px;
}

.toolbar-event-text {
  font-size: 1.2em;
  margin-right: 10px;
}

.toolbar {
  .dropdown-menu a {
    cursor: pointer;
    font-size: 16px;
  }

  li .fa-check {
    visibility: hidden;
    color: #aaa;
    font-size: 12px;
    margin-right: 14px;
  }

  li.disabled .fa-check {
    visibility: visible;
  }

  li.active .fa-check {
    visibility: visible;
    color: #fff;
  }
}

.toolbar-wide-button {
  text-transform: capitalize;
  min-width: 110px;
}

.fixed-toolbar-desktop, .fixed-toolbar-mobile {
  padding-top: 5px;
}

.fixed-toolbar {
  padding-bottom: 5px;
}

.top-toolbars:hover {
  .not-fixed-toolbar {
    opacity: 1.0;
  }
}

.toolbar-year-changer {
  margin-right: 35px;
}