<div class="row">
<div class="col-sm-5">

<div class="btn-toolbar chart-single-toolbar">
<div class="btn-group">
  <a ng-class="{active:charts.displayMode == 'bars'}" ng-click="setBars()" class="btn btn-default"
     title="Stacked bar chart" data-toggle="tooltip" data-placement="top" data-container="body">
    <i class="fa fa-bar-chart"></i>
  </a>
  <a ng-class="{active:charts.displayMode == 'lines'}" ng-click="setLines()" class="btn btn-default"
     title="Line chart" data-toggle="tooltip" data-placement="top" data-container="body">
    <i class="fa fa-line-chart"></i>
  </a>
</div>

</div>

</div>

<div class="col-sm-7">
  <div class="text-right chart-single-description">
    number of {{ description }} men and women in<br>
    {{ majorName }}
  </div>
</div>

</div>

<div id="c3-target-single" class="c3-bind-target"></div>

<script>
  $('.chart-single-toolbar [data-toggle="tooltip"]').tooltip()
</script>
