<div class="row">
<div class="col-sm-6">

<div class="btn-toolbar chart-line-toolbar">
<div class="btn-group">
  <a ng-class="{active:charts.displayMode == 'bars'}" ng-click="setBars()" class="btn btn-default"
     title="Stacked bar chart" data-toggle="tooltip" data-placement="top" data-container="body">
    <i class="fa fa-bar-chart"></i>
  </a>
  <a ng-class="{active:charts.displayMode == 'lines'}" ng-click="setLines()" class="btn btn-default"
     title="Line chart" data-toggle="tooltip" data-placement="top" data-container="body">
    <i class="fa fa-line-chart"></i>
  </a>
</div>

<div class="btn-group">
  <a ng-class="{active:events.show}" ng-click="toggleEvents()" class="btn btn-default"
     title="Show events related to the selected majors" data-toggle="tooltip" data-placement="right" data-container="body">
    <i class="fa fa-calendar-o"></i>
  </a>
</div>
</div>

</div>

<div class="col-sm-6">
  <div class="text-right chart-line-description">
    {{ displayColumn.description }}
  </div>
</div>

</div>

<div id="c3-target-line" class="c3-bind-target"></div>

<script>
  activateTooltips('.chart-line-toolbar');
</script>
