<div class="row not-fixed-toolbar">
  <div class="col-lg-2"></div>
  <div class="col-lg-6 col-sm-8">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a ng-click="toggleHelp()" class="btn btn-default"
           title="Keyboard shortcuts" data-toggle="tooltip" data-placement="right" data-container="body"><i class="fa fa-question"></i></a>
      </div>
    </div>
  </div>

  <div class="col-lg-2">
  </div>
</div>

<script>
  $('.not-fixed-toolbar [data-toggle="tooltip"]').tooltip()
</script>
