<div class="btn-group">
  <button type="button" class="btn btn-default"
          data-chart-toggle="prefix" data-chart-toggle-value="undergrad">Undergrad</button>
  <button type="button" class="btn btn-default"
          data-chart-toggle="prefix" data-chart-toggle-value="graduate">Graduate</button>
  <button type="button" class="btn btn-default"
          data-chart-toggle="prefix" data-chart-toggle-value="total">Total</button>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default"
          data-chart-toggle="gender" data-chart-toggle-value="men">Male</button>
  <button type="button" class="btn btn-default"
          data-chart-toggle="gender" data-chart-toggle-value="women">Female</button>
  <button type="button" class="btn btn-default"
          data-chart-toggle="gender" data-chart-toggle-value="all">Total</button>
</div>
