<nav class="fixed-toolbar-mobile visible-xs-block">

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-filter"></i> Filters</span>
    </button>
    <ul class="dropdown-menu">
      <li ng-class="{disabled:displayColumn.prefix === 'undergrad'}">
        <a ng-click="updatePrefix('undergrad')"><i class="fa fa-check"></i>Undergrad</a>
      </li>
      <li ng-class="{disabled:displayColumn.prefix === 'graduate'}">
        <a ng-click="updatePrefix('graduate')"><i class="fa fa-check"></i>Graduate</a>
      </li>
      <li ng-class="{disabled:displayColumn.prefix === 'total'}">
        <a ng-click="updatePrefix('total')"><i class="fa fa-check"></i>Total</a>
      </li>
      <li class="divider"></li>
        <li ng-class="{disabled:!charts.singleMode && displayColumn.gender === 'men'}">
          <a ng-click="updateGender('men')"><i class="fa fa-check"></i>Male</a>
        </li>
        <li ng-class="{disabled:!charts.singleMode && displayColumn.gender === 'women'}">
          <a ng-click="updateGender('women')"><i class="fa fa-check"></i>Female</a>
        </li>
        <li ng-class="{disabled:!charts.singleMode && displayColumn.gender === 'all'}">
          <a ng-click="updateGender('all')"><i class="fa fa-check"></i>Total</a>
        </li>
        <li ng-class="{disabled:charts.singleMode}">
          <a ng-click="toggleSingle()"
             title="Compare within major by gender"
             data-toggle="tooltip" data-placement="right"
             data-container="body"><i class="fa fa-check"></i>Compare</a>
        </li>
        <li ng-show="!charts.singleMode" class="divider"></li>
        <li ng-class="{active:displayColumn.showPercentages,hidden:charts.singleMode}">
          <a ng-click="togglePercentages()"
             title="Display as percentage of declared students"
             data-toggle="tooltip" data-placement="right"
             data-container="body"><i class="fa fa-check"></i>Percentage</a>
        </li>
        <li ng-class="{active:charts.colorBy === 'dept',hidden:charts.singleMode}">
          <a ng-click="toggleDepartmentColors()"
             title="Color charts by departments"
             data-toggle="tooltip" data-placement="right"
             data-container="body"><i class="fa fa-check"></i>School</a>
        </li>
    </ul>
  </div>
</nav>

<nav class="fixed-toolbar-desktop hidden-xs">
  <div class="btn-group">
    <a class="btn btn-lg btn-default"
       ng-class="{active:charts.singleMode}"
       ng-click="toggleSingle()"
       title="Compare within major by gender"
       data-toggle="tooltip" data-placement="bottom"
       data-container="body"><i class="fa fa-users"></i></a>
    <a class="btn btn-lg btn-default"
       ng-class="{active:charts.colorBy === 'dept',disabled:charts.singleMode}"
       ng-click="toggleDepartmentColors()"
       title="Color charts by schools"
       data-toggle="tooltip" data-placement="bottom"
       data-container="body"><i class="fa fa-paint-brush"></i></a>
  </div>

  <div class="btn-group">

    <div class="btn-group dropdown">
      <button type="button" class="toolbar-wide-button btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
        {{ displayColumn.prefix }}
      </button>
      <ul class="dropdown-menu">
        <li ng-class="{disabled:displayColumn.prefix === 'undergrad'}">
          <a ng-click="updatePrefix('undergrad')">Undergrad</a>
        </li>
        <li ng-class="{disabled:displayColumn.prefix === 'graduate'}">
          <a ng-click="updatePrefix('graduate')">Graduate</a>
        </li>
        <li ng-class="{disabled:displayColumn.prefix === 'total'}">
          <a ng-click="updatePrefix('total')">Total</a>
        </li>
      </ul>
    </div>

    <div class="btn-group dropdown">
      <button type="button" class="toolbar-wide-button btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" ng-class="{disabled:charts.singleMode}">
        {{ charts.singleMode ? 'Compare' : displayColumn.genderDisplay }}
      </button>
      <ul class="dropdown-menu">
        <li ng-class="{disabled:!charts.singleMode && displayColumn.gender === 'men'}">
          <a ng-click="updateGender('men')">Male</a>
        </li>
        <li ng-class="{disabled:!charts.singleMode && displayColumn.gender === 'women'}">
          <a ng-click="updateGender('women')">Female</a>
        </li>
        <li ng-class="{disabled:!charts.singleMode && displayColumn.gender === 'all'}">
          <a ng-click="updateGender('all')">Total</a>
        </li>
      </ul>
    </div>

    <a class="btn btn-lg btn-default"
       ng-class="{active:displayColumn.showPercentages,disabled:charts.singleMode}"
       ng-click="togglePercentages()"
       title="Display as percentage of declared students"
       data-toggle="tooltip" data-placement="right"
       data-container="body"><i class="fa">%</i></a>
  </div>
</nav>

 <script>
  activateTooltips('.fixed-toolbar-mobile');
  activateTooltips('.fixed-toolbar-desktop');
</script>