 <div class="toolbar-column-toggles btn-toolbar">

<div class="btn-group">
  <a class="btn btn-lg btn-default"
     ng-class="{active:displayColumn.showPercentages}"
     ng-click="togglePercentages()"
     title="Display as percentage of declared students"
     data-toggle="tooltip" data-placement="right"
     data-container="body"><i class="fa">%</i></a>
</div>

 <div class="btn-group">

   <div class="btn-group dropdown">
    <button type="button" class="toolbar-wide-button btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
      {{ displayColumn.prefix }}
    </button>
    <ul class="dropdown-menu">
      <li ng-class="{disabled:displayColumn.prefix === 'undergrad'}">
        <a ng-click="updatePrefix('undergrad')">Undergrad</a>
      </li>
      <li ng-class="{disabled:displayColumn.prefix === 'graduate'}">
        <a ng-click="updatePrefix('graduate')">Graduate</a>
      </li>
      <li ng-class="{disabled:displayColumn.prefix === 'total'}">
        <a ng-click="updatePrefix('total')">Total</a>
      </li>
    </ul>
  </div>

  <div class="btn-group dropdown">
    <button type="button" class="toolbar-wide-button btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
      {{ displayColumn.genderDisplay }}
    </button>
    <ul class="dropdown-menu">
      <li ng-class="{disabled:displayColumn.gender === 'men'}">
        <a ng-click="updateGender('men')">Male</a>
      </li>
      <li ng-class="{disabled:displayColumn.gender === 'women'}">
        <a ng-click="updateGender('women')">Female</a>
      </li>
      <li ng-class="{disabled:displayColumn.gender === 'all'}">
        <a ng-click="updateGender('all')">Total</a>
      </li>
    </ul>
  </div>
</div>

</div>

<script>
  $('.toolbar-column-toggles [data-toggle="tooltip"]').tooltip();
</script>