<div class="row toolbar">
  <div class="col-lg-2"></div>
  <div class="col-lg-5 col-xs-8">
    <div main-toolbar-column-toggles></div>
  </div>

  <div class="col-lg-3 col-xs-4">
    <div class="pull-right toolbar-event">
      <span class="toolbar-event-text">{{ year.event }}</span>
      <span class="toolbar-event-year"> {{ year.current }}</span>
    </div>
  </div>

  <div class="btn-group hidden-lg pull-right toolbar-year-changer">
    <a class="btn btn-lg btn-link"
       ng-click="decreaseYear()" ng-class="{disabled:year.current === year.min}"
       title="Go back one year"
       data-toggle="tooltip" data-placement="bottom"
       data-container="body"><i class="fa fa-caret-left"></i></a>
    <a class="btn btn-lg btn-link"
       ng-click="increaseYear()" ng-class="{disabled:year.current === year.max}"
       title="Go forward one year"
       data-toggle="tooltip" data-placement="bottom"
       data-container="body"><i class="fa fa-caret-right"></i></a>
  </div>


</div>
