<div ng-controller="VizCtrl">
  <div ng-class="{ hidden:!loading }" class="large-loading">
    <i class="fa fa-circle-o-notch fa-spin"></i>
    <p>loading</p>
  </div>

  <div ng-class="{ hidden:loading }">
    <div main-toolbar></div>

    <select ng-model="year" ng-options="year as year for year in years" class="form-control"></select>

    <div class="row charts">
      <div class="col-lg-4 col-lg-push-8 charts-sidebar charts-sidebar-always-show">
        <div sidebar-chart></div>
      </div>
      <div class="col-lg-8 col-lg-pull-4 charts-body">
      </div>
    </div>
  </div>

</div>